@page
@model CV_Project2022.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h1 class="text-center">The fast & visual way to manipulate CVs</h1>

    <img class="HomeBG" src="/images/HomeBG.png" >
</div>
